<nav id="main-nav">
	<div class="row">
		<span class="home-link">
      <a href="/">Design at Berkeley</a>
    </span>
		<ul>
			<li class="nav-link dropdown">
        <a>Get started</a>
        <ul class="dropdown-menu">
          <li><a href="/intro">Intro to design</a></li>
          <li><a>Design toolkit</a></li>
          <li><a>Design spaces</a></li>
        </ul>

      </li>
			<li class="nav-link dropdown">
        <a>Get involved</a>
        <ul class="dropdown-menu">
          <li><a href="/classes">Classes</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/research">Research</a></li>
          <li><a href="/council">Council</a></li>
        </ul>
      </li>
			<li class="nav-link">
        <a>Events</a>
      </li>
			<li class="nav-link">
        <a>Contact</a>
      </li>
		</ul>
	</div>
</nav>