<nav id="main-nav">
	<div class="row">
		<span class="home-link">
      <a>Design at Berkeley</a>
    </span>
		<ul>
			<li class="nav-link dropdown">
        <a>Resources</a>
        <ul class="dropdown-menu">
          <li><a>What is design?</a></li>
          <li><a>How to get started</a></li>
          <li><a>Professional development</a></li>
          <li><a>Spaces and labs</a></li>
        </ul>

      </li>
			<li class="nav-link dropdown">
        <a>Get Involved</a>
        <ul class="dropdown-menu">
          <li><a href="/classes">Classes</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/research">Research</a></li>
          <li><a href="/council">Council</a></li>
        </ul>
      </li>
			<li class="nav-link">
        <a>Events</a>
      </li>
			<li class="nav-link">
        <a>Contact</a>
      </li>
		</ul>
	</div>
</nav>