<nav id="main-nav">
	<div class="row">
		<span class="home-link">
      <a href="/">Design at Berkeley</a>
    </span>
		<ul>
			<li class="nav-link dropdown">
        <a href="/intro">Get started</a>
        <ul class="dropdown-menu get-started">
          <li><a href="/intro">Intro to design</a></li>
          <li><a href="/spaces">Design spaces</a></li>
        </ul>

      </li>
			<li class="nav-link dropdown">
        <a href="/get-involved">Get involved</a>
        <ul class="dropdown-menu">
          <li><a href="/classes">Classes</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/teams">Teams</a></li>
          <li><a href="/research">Research</a></li>
          <li><a href="/council">Council</a></li>
        </ul>
      </li>
			<li class="nav-link">
        <a href="/blog">Blog</a>
      </li>
			<li class="nav-link">
        <a href="/contact">Contact</a>
      </li>
		</ul>
	</div>
</nav>