@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin hero-bg($image-url) {
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),
  url($image-url) no-repeat center center;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
}


$unit: 5px;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  background-color: $white;
}

a {
  text-decoration: none;
  color: $black;
}


/** NAVIGATION BAR **/
$nav-height: 64px;

nav {
  background-color: rgba(0, 0, 0, 0);
  z-index: 100000000;
  height: $nav-height;
  color: $white;
  @include transition(all, 0.3s, ease);

  .row {
    background-color: rgba(0, 0, 0, 0);
  }

  a {
    color: $white;
  }

  .home-link {
    padding: $unit*4 0;
    display: inline-block;
    float: left;
  }

  .nav-link > a {
    text-transform: uppercase;
    font-weight: 500;
    padding: $unit*4;
  }

  ul {
    margin: 0;
    padding: 0;
    float: right;

    li.nav-link {
      display: inline-block;
      padding: $unit*4 0;
      @include transition(background-color, 0.2s, ease);

      &:hover {
        background: $blue;

        > a {
          color: $white;
        }
      }
    }
  }
}

.scroll-nav {
  top: -128px;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  width: 100%;
  @include transition(all, 0.4s, ease);

  a {
    color: $black;
  }

  &.active {
    z-index: 100000000;
    visibility: visible;
    opacity: 100;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: $box-shadow;
    background: $white;

    @include transition(all, 0.4s, ease);

    a {
      color: $black;
    }

  }

}

li.dropdown {
  ul.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    box-shadow: $box-shadow;
    position: absolute;
    margin-top: 4*$unit;
    background-color: $white;

    li {
      padding: 4*$unit 0;
      list-style-type: none;
      @include transition(all, 0.3s, ease);

      a {
        padding: 4*$unit;
        color: $black;
      }
    }
  }

  &:hover {
    ul.dropdown-menu {
      display: block;
      visibility: visible;
      opacity: 1;
      z-index: 100000000;
      @include transition(all, 0.2s, ease);

      li {
        &:hover {
          background: $blue;
          @include transition(all, 0.3s, ease);

          a {
            color: $white;
          }
        }

      }
    }
  }
}


/** HERO IMAGES **/
.hero {
  min-height: 500px;
  margin-top: -64px;

  .centered h1 {
    padding-top: 225px;
  }
}

.hero-homepage {
  min-height: 100%;
  @include hero-bg("https://scontent-ord.xx.fbcdn.net/hphotos-xaf1/t31.0-8/10636818_798585763513551_8512243890731656208_o.jpg");

    .arrow-down {
      margin: 0 auto;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 90%;
      left: 50%;

        img {
          height: auto;
          width: 75px;
          margin: 0 auto;
        }
    }
}

.hero-council {
  @include hero-bg("../media/council.jpg");
}

.hero-clubs {
  @include hero-bg("../media/clubs.jpg");
}

.hero-designtoolkit {
  @include hero-bg("../media/designtoolkit.jpg");
}

.hero-classes {
  @include hero-bg("../media/classes.jpg");
}

.hero-basic {
  background-color: $green;
  min-height: 300px;

  .centered h1 {
    padding-top: 140px;
  }
}

h3#rotate {
  font-size: 1.75em;
  font-style: italic;
  font-weight: 700;
}

.centered {
  h1 {
    margin-bottom: 0;
  }
}

h1 {
  line-height: 105%;
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  line-height: 110%;
}


h4 {
  font-size: 1.5em;
  margin-bottom: 0;
}

p {
  font-size: 1.2em;
  line-height: 150%;
}

.fa-arrow-right {
  font-size: .8em;
}

a {
  &:hover {
  }
}





.resources-blurb {
  padding-top: $unit*20;
}



section.homepage {
  padding: $unit*20 0;
}

section {
  padding: $unit*10 0;
}

.subhead {
  margin-bottom: $unit*6;
}

.getinvolved-thirds {
  padding-bottom: $unit*5;
}

.centered {
  text-align: center;
}

.resources {
  background: $blue;
}

.mailinglist {
  padding: $unit*30 0;
}

.events {
  background: $green;
  padding: $unit*10 0;

  .row {
    padding-bottom: $unit*5;
  }

  .date {
    text-transform: uppercase;
    font-size: .8em;
  }


  h3 {
    margin-bottom: 0;
    font-size: 1.2em;
    display: inline-block;
  }

  .host {
    font-style: italic;
    font-size: 1.2em;
  }

}

.button {
  color: $white;
  border-radius: 5px;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 18px;
  @include transition(all, 0.3s, ease);

  &:hover {
    @include transition(all, 0.3s, ease);
  }
}


.button-inverted-blue {
  border: 2px solid $white;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.button-inverted-green {
  border: 2px solid $green;
  background-color: $green;

}

.button-orange {
  background-color: $orange;

  &:hover {
    background-color: #d8791a;
  }
}

footer {
  background: $black;
  padding: 5% 0;

  a {
    color: $white;
    text-decoration: none;
    &:visited {
      color: $white;
    }
  }

  .footer-logo {
    width: 150px;
    height: auto;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 4*$unit;
    }
  }


}

/* MAILCHIMP MAILING LIST FORM STYLES BELOW */
input {
  border: 2px solid rgba(39, 44, 56, 0.4); 
  border-radius: 5px;
  padding: 14px 18px;
  background: rgba(255,255,255,0.5);
  margin: 0 10px 0 0;
  font-size: 1em;
  color: $black;
}

input.email {
  width: 40%;
}

input.button-blue {
  color: $white;
  border: 2px solid $blue;
  background-color: $blue;

  &:hover {
    cursor: pointer;
    border: 2px solid #219bb9;
    background-color: #219bb9;
    @include transition(all, 0.5s, ease-in-out);
  }
}


/* INTRO TO DESIGN PAGE STYLING */

.disciplines .row {
  max-width: 100%;
}


.whatis {
  height: 600px;
  padding: $unit*10;

  img {
    margin: $unit*5 auto;
    max-width: 75%;
    display: block;
  }

  h2 {
    color: $white;
    text-align: center;
  }
  p {
    color: $white;
  }
}

.blue {
  background: $blue;
}

.orange {
  background: $orange;
}

.green {
  background: $green;
}

.yellow {
  background: $yellow;
}

/** CLUBS PAGE **/
.club {
  padding-bottom: $unit*4;
}

