@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin hero-bg($image-url) {
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),
  url($image-url) no-repeat center center;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
}


$unit: 5px;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  background-color: $white;
}



/** NAVIGATION BAR **/
$nav-height: 64px;

nav {
  background-color: rgba(0, 0, 0, 0);
  z-index: 100000000;
  height: $nav-height;
  color: $white;
  @include transition(all, 0.3s, ease);

  .row {
    background-color: rgba(0, 0, 0, 0);
  }

  a {
    color: $white;
    text-decoration: none;
  }

  .home-link {
    padding: $unit*4 0;
    display: inline-block;
    float: left;
  }

  .nav-link > a {
    text-transform: uppercase;
    font-weight: 500;
    padding: $unit*4;
  }

  ul {
    margin: 0;
    padding: 0;
    float: right;

    li.nav-link {
      display: inline-block;
      padding: $unit*4 0;
      @include transition(background-color, 0.2s, ease);

      &:hover {
        background: $blue;

        > a {
          color: $white;
        }
      }
    }
  }
}

.scroll-nav {
  top: -128px;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  width: 100%;
  @include transition(all, 0.4s, ease);

  a {
    color: $black;
  }

  &.active {
    z-index: 100000000;
    visibility: visible;
    opacity: 100;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: $box-shadow;
    background: $white;

    @include transition(all, 0.4s, ease);

    a {
      color: $black;
    }

  }

}

li.dropdown {
  ul.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    box-shadow: $box-shadow;
    position: absolute;
    margin-top: 4*$unit;
    background-color: $white;

    &.get-started {
      width: 143px;
    }

    li {
      padding: 4*$unit 0;
      list-style-type: none;
      @include transition(all, 0.3s, ease);

      a {
        padding: 4*$unit;
        color: $black;
      }
    }
  }

  &:hover {
    ul.dropdown-menu {
      display: block;
      visibility: visible;
      opacity: 1;
      z-index: 100000000;
      @include transition(all, 0.2s, ease);

      li {
        &:hover {
          background: $blue;
          @include transition(all, 0.3s, ease);

          a {
            color: $white;
          }
        }

      }
    }
  }
}

nav a#pull {
  display: none;
} 

.pull-link {
  padding: $unit*3 0;
  display: inline-block;
  float: right;
}

/*Responsive Styles*/
@media screen and (min-width: 668px) {
  .resources-blurb {
    position: absolute;
    padding: $unit*10 0;
    top: 50%;
  }
}

@media screen and (max-width: 667px) {

  // body > section.homepage.resources.inverted {
  //     padding-bottom: 350px;
  // }

    nav li {
        width: 100%;
        float: left;
        position: relative;
    }
    li a {
      color: $black;
    }
    nav {
        border-bottom: 0;
    }
    nav ul.full-nav-links {
        display: none;
        background-color: $white;
        width: 100%;
        height: auto;
    }
    // #main-nav > div > div > ul > li:nth-child(2):hover {
    //   #main-nav > div > div > ul > li:nth-child(2) > ul {
    //     display: block; 
    //   }
    // }
    nav a#pull {
        display: block;
        // background-color: #283744;
        // text-align: right;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('/media/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .scroll-nav, .active {
      display: none;
    }


    .dropdown-menu.get-started {
      width: 100%;
    }
}


/** HERO IMAGES **/
.hero {
  min-height: 500px;
  margin-top: -64px;

  .preheader {
    font-size: 1.25em;
    font-weight: 100;
  }

  h1 {
    font-size: 3.8em;
  }

  h3 {
    margin-bottom: 0;
  }

  .centered {
    padding-top: 225px;
  }
}


.hero-homepage {
  min-height: 100%;
  @include hero-bg("https://scontent-ord.xx.fbcdn.net/hphotos-xaf1/t31.0-8/10636818_798585763513551_8512243890731656208_o.jpg");

    .arrow-down {
      margin: 0 auto;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 90%;
      left: 50%;

        img {
          height: auto;
          width: 75px;
          margin: 0 auto;
        }
    }
}

.hero-council {
  @include hero-bg("../media/council.jpg");
}

.hero-clubs {
  @include hero-bg("../media/clubs.jpg");
}

.hero-intro {
  @include hero-bg("../media/intro.jpg")
}

.hero-spaces {
  @include hero-bg("../media/spaces.jpg");
}

.hero-teams {
  @include hero-bg("../media/canoe.png");
}

.hero-classes {
  @include hero-bg("../media/classes.jpg");
}

.hero-research {
  @include hero-bg("../media/research.jpg");
}

.hero-contact {
  @include hero-bg("../media/contact.jpg");
}

.hero-blog {
  @include hero-bg("../media/blog.jpg");
}

.hero-getinvolved {
  @include hero-bg("../media/get-involved.jpg");
}

.hero-basic {
  background-color: $green;
  min-height: 300px;

  .centered h1 {
    padding-top: 140px;
  }
}

/** responsive hero **/
@media screen and (max-width: 667px) {
  .hero {
    h1 {
      font-size: 2.5em;
    }

    .preheader {
      font-size: 1.2em;
    }
  }

}

h3#rotate {
  font-size: 1.75em;
  font-style: italic;
  font-weight: 700;
}

.centered {
  h1 {
    margin-bottom: 0;
  }
}

h1 {
  line-height: 105%;
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  line-height: 110%;
}


h4 {
  font-size: 1.5em;
  margin-bottom: 0;
}

p {
  font-size: 1.2em;
  line-height: 150%;
}

.fa-arrow-right {
  font-size: .8em;
}



.post-content {
  margin: 0 auto;
}


.resources {
  padding: $unit*30 0;
}


.img-intro {
  width: 90%;
}



section.homepage {
  padding: $unit*20 0;
}

section {
  padding: $unit*10 0;
}

.subhead {
  margin-bottom: $unit*10;
}


.getinvolved-thirds {
  padding-bottom: $unit*5;

  img {
    width: 75%;
    height: auto;
    margin-bottom: $unit*2;
  }

  a {
    color: $black;
    text-decoration: none;
    &:hover {
      h4 {
        color: $orange;
      }
    }

  }
}

.centered {
  text-align: center;
}

.resources {
  background: $blue;
}

.mailinglist {
  padding: $unit*30 0;
}

.events {
  background: $green;
  // padding: $unit*10 0;

  .row {
    // padding-bottom: $unit*5;
  }

  .date {
    text-transform: uppercase;
    font-size: .8em;
  }


  h3 {
    margin-bottom: 0;
    font-size: 1.2em;
    display: inline-block;
  }

  .host {
    font-style: italic;
    font-size: 1.2em;
  }

}

.button {
  color: $white;
  border-radius: 5px;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 18px;
  @include transition(all, 0.3s, ease);

  &:hover {
    @include transition(all, 0.3s, ease);
  }
}


.button-inverted-blue {
  background-color: $dark-blue;

  &:hover {
    background-color: #0D7E98;
  }
}

.button-inverted-green {
  border: 2px solid $green;
  background-color: $green;

}

.button-orange {
  background-color: $orange;

  &:hover {
    background-color: $dark-orange;
  }
}

footer {
  background: $black;
  padding: 5% 0;

  a {
    color: $white;
    text-decoration: none;
    &:visited {
      color: $white;
    }
  }

  .footer-logo {
    width: 150px;
    height: auto;


    img {
      width: 100%;
      height: auto;
      margin-left: $unit*5;
      margin-bottom: $unit*2;
    }
  }

  .copyright {
    margin-left: $unit*5;
    font-size: .8em;
    float: left;
  }
}


@media screen and (max-width: 667px) {
  footer {
    .footer-logo,
    .copyright,
    .contact-links {
      text-align: center;
      margin: 0 auto;
      float: none;
    }

    .footer-logo img {
      margin-left: 0;
    }
  }
}

/* MAILCHIMP MAILING LIST FORM STYLES BELOW */
input {
  border: 2px solid rgba(39, 44, 56, 0.4); 
  border-radius: 5px;
  padding: 14px 18px;
  background: rgba(255,255,255,0.5);
  margin: 0 10px 0 0;
  font-size: 1em;
  color: $black;
}

input.email {
  width: 40%;
}

input.button-blue {
  color: $white;
  border: 2px solid $blue;
  background-color: $blue;

  &:hover {
    cursor: pointer;
    border: 2px solid $dark-blue;
    background-color: $dark-blue;
    @include transition(all, 0.3s, ease-in-out);
  }
}


/* INTRO TO DESIGN PAGE STYLING */

.disciplines .row {
  max-width: 100%;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.altname {
  font-weight: 500;
}

.whatis {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: $unit*10;

  &.shorter {
    min-height: 650px;
  }

  a {
    color: $white;
  }

  img {
    margin: $unit*5 auto;
    max-width: 75%;
    max-height: 300px;
    display: block;
  }

  h2 {
    color: $white;
    text-align: center;
  }

  h3 {
    margin-bottom: 0;
  }


  img {
    &.env {
      margin-top: $unit*20;
      margin-bottom: $unit*20;
    }
    &.game {
      margin-top: $unit*14.8;
      margin-bottom: $unit*14.8;
    }

    &.eng {
      margin-top: $unit*13;
      margin-bottom: $unit*13;
    }

    &.anim {
      margin-top: $unit*10;
      margin-bottom: $unit*10;
    }
  }

  .tools {
    padding-left: 0;
    margin-left: $unit*5;
  }
}

/** Responsive whatis **/
@media screen and (max-width: 668px) {
  .disciplines .row {
    max-width: 100%;
    display: block;
  }
  .whatis {
    width: 100%;
    display: block;
    flex: none;
  }
}

.blue {
  background: $blue;
}

.orange {
  background: $orange;
}

.green {
  background: $green;
}

.yellow {
  background: $yellow;
}


/** CLUBS PAGE **/
.card {
  padding-bottom: $unit*4;
  min-height: 350px;
}

.page-content {
  a {
    font-weight: 300;
    color: $black;
  }

  h3 {
    margin: $unit 0;

    a {
      text-decoration: none;
      font-weight: 500;

      i {
        margin-left: $unit;
        font-size: .7em;
      }
    }

  }
  p {
    font-size: 1.2em;
  }


  .row-2 {
    margin-top: $unit*10;
  }


  .card {
    &[class*="column"]+[class*="column"]:last-child {
      float: left;
    }
  }

}

.img-wrapper {
  height: 170px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

/** CLASSES PAGE **/

//this is for category-list on classes page
.fixed-nav {
  position: fixed;
  top: 70px;
  width: 400px;
}


@media screen and (max-width: 1025px) {
  .fixed-nav {
    position: static;
  }
}

.classes {

  .classes-blurb {
    margin-bottom: $unit*10;
  }

  h3 {
    margin-bottom: $unit*2;
  }
  li {
    list-style-type: none;
    margin-top: $unit;
    margin-bottom: $unit*4;
  }

  a.active {
    font-weight: 500;
  }
}

#course-list li{
  margin-left: $unit*5;
}

.location {
  font-size: 1em;
}

.research {
  .img-wrapper {
    height: 100px;
    width: auto;

    &.bid {
      height: 50px;
      margin: 25px 0;
    }

    img {
      height: 100%;
      width: auto;
    }
  }
}


.logo-wrapper {
  width: 200px;
  margin: 0 auto;
  margin-bottom: $unit*5;

  img {
    width: 100%;
  }
}


.contact-links {
  float: right;
  font-size: 1.5em;

  a:hover {
    color: $blue;
  }
}


