@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

$unit: 5px;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  background-color: $white;
}

.hero {
  min-height: 600px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),
  url("https://scontent-ord.xx.fbcdn.net/hphotos-xaf1/t31.0-8/10636818_798585763513551_8512243890731656208_o.jpg") no-repeat center center;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
}

.mid {
  h1 {
    margin-bottom: 0;
  }
}

h1 {
  line-height: 105%;
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  line-height: 110%;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 0;
}

p {
  font-size: 1.2em;
  line-height: 150%;
}

.fa-arrow-right {
  font-size: .8em;
}
a {

  &:hover {
    @include transition(all, 0.5s, ease);
  }
}

nav {
  background: $white;
  z-index: 1000;

  .home-link {
    padding: $unit*4;
    display: inline-block;
    float: left;
  }

  a {
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      color: $grey-color;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    float: right;

    li {
      display: inline-block;
      padding: $unit*4;
     }
  }
}

.fixedClass {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 7px $grey-color;
}

.resources-blurb {
  padding-top: $unit*20;
}


section {
  padding: $unit*20 0;
}

.subhead {
  margin-bottom: $unit*6;
}

.getinvolved-thirds {
  padding-bottom: $unit*5;
}

.centered {
  text-align: center;
}

.resources {
  background: $blue;
}

.mailinglist {
  padding: $unit*30 0;
}

.events {
  background: $green;
  padding: $unit*10 0;

  .row {
    padding-bottom: $unit*5;
  }

  .date {
    text-transform: uppercase;
    font-size: .8em;
  }


  h3 {
    margin-bottom: 0;
    font-size: 1.2em;
    display: inline-block;
  }

  .host {
    font-style: italic;
    font-size: 1.2em;
  }

}

.button {
  color: $white;
  border-radius: 5px;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 18px;
}


.button-inverted-blue {
  border: 2px solid $white;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.button-inverted-green {
  border: 2px solid $green;
  background-color: $green;

  &:hover {
  }
}

.button-orange {
  background-color: $orange;

  &:hover {
    background-color: #d8791a;
  }
}

footer {
  background: $black;
  padding: 5% 0;
}

/* MAILCHIMP MAILING LIST FORM STYLES BELOW */
input {
  border: 2px solid rgba(39, 44, 56, 0.4); 
  border-radius: 5px;
  padding: 14px 18px;
  background: rgba(255,255,255,0.5);
  margin: 0 10px 0 0;
  font-size: 1em;
  color: $black;
}

input.email {
  width: 40%;
}

input.button-blue {
  color: $white;
  border: 2px solid $blue;
  background-color: $blue;

  &:hover {
    cursor: pointer;
    border: 2px solid #219bb9;
    background-color: #219bb9;
    @include transition(all, 0.5s, ease-in-out);
  }
}


/* TOOLKIT STYLING */

.whatis {
  h2 {
    color: $white;
  }

}

.humancentered,
.visual {
  background: $blue;
}

.digitalproduct,
.physicalproduct {
  background: $orange;
}

.environmental,
.fashion {
  background: $green;
}

