<!DOCTYPE html>
<html>
{% include head.html %}
<script type="text/javascript" src="/js/classes.js"></script>
</html>

<body>

  {% include scrollnav.html %}

  <div class="hero hero-classes inverted">
    <div class="centered">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  <section>
    <div class="row">
      <p class="page-content">
        {{ content }}
      </p>
    </div>
    <div class="row">
      <div class="large-5 columns">
        <div id="category-list">
        </div>
      </div>
      <div class="large-7 columns" id="course-list">
      </div>
    </div>

  </section>

  {% include footer.html %}

</body>