<!DOCTYPE html>
<html>
{% include head.html %}
</html>

<body>

  {% include scrollnav.html %}


  <div class="hero hero-clubs inverted parallax">
    <div class="centered">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <section>
  <div class="row">
    <div class="large-12 columns">
    </div>
  </div>

  <div class="row page-content">
    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/3d.jpg" />
    </div>
      <h3><a href="https://www.facebook.com/3dmodelingatberkeley" target="_blank">3D Modeling Club<i class="fa fa-external-link"></i></a></h3>
      <p>Interested in engineering parts, creating custom game assets, or winning design competitions? Then come check out 3DMC!</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/siggraph.jpg" />
    </div>
      <h3><a href="https://www.facebook.com/groups/berkeleyacmsiggraph/" target="_blank">ACM SIGGRAPH<i class="fa fa-external-link"></i></a></h3>
      <p>Our chapter's mission is to create a space where one can explore, engage, and be inspired by the emerging trends and technologies in computer graphics and interactive techniques.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/aias.jpg" />
    </div>
      <h3><a href="https://www.facebook.com/groups/5067157801/" target="_blank">AIAS Berkeley<i class="fa fa-external-link"></i></a></h3>
      <p>We introduce students to the professional field of architecture through opportunities for networking and skill building through events like conferences, workshops, and lectures.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/asla.jpg" />
    </div>
      <h3><a href="https://www.facebook.com/groups/106725259389662/" target="_blank">ASLA@Berkeley<i class="fa fa-external-link"></i></a></h3>
      <p>The Berkeley chapter of the American Society of Landscape Architects is the Landscape Architecture and Environmental Planning Department’s student group.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/bare.jpg" />
    </div>
      <h3><a href="http://www.baremagazine.org/" target="_blank">BARE<i class="fa fa-external-link"></i></a></h3>
      <p>BARE Magazine is UC Berkeley’s premier fashion, lifestyle, and art publication.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/bi.jpg" />
    </div>
      <h3><a href="https://www.facebook.com/berkeleyinnovation" target="_blank">Berkeley Innovation<i class="fa fa-external-link"></i></a></h3>
      <p>Berkeley Innovation is a human-centered design group. Our members come from a wide range of disciplines, but share a love of design thinking and innovation.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/byte.jpg" />
    </div>
      <h3><a href="www.berkeleybyte.com/" target="_blank">berkeleyByte<i class="fa fa-external-link"></i></a></h3>
      <p>berkeleyByte is a news blog for design, technology and campus culture. We feature organizations, projects, startups, news, and events.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/bad.jpeg" />
    </div>
      <h3><a href="https://www.facebook.com/groups/biologicalartdesign/" target="_blank">Biological Artistic Design<i class="fa fa-external-link"></i></a></h3>
      <p>Biological Artistic Design strives to integrate artistic vision with biological interests.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/blueprint.jpg" />
    </div>
      <h3><a href="http://www.calblueprint.org/" target="_blank">Blueprint<i class="fa fa-external-link"></i></a></h3>
      <p>Blueprint is a non-profit organization aimed at bringing technologies to local nonprofit organizations that are making social change. </p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/set.jpg" />
    </div>
      <h3><a href="http://calsetdesign.tumblr.com/" target="_blank">Cal Set Design<i class="fa fa-external-link"></i></a></h3>
      <p>Cal Set Design specializes in set design, creative installations, and visual productions. We design and construct runway installations for FAST fashion shows and sets for BARE Magazine.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img class="dec" src="../media/clubs/dec.jpg" />
    </div>
      <h3><a href="http://dec.berkeley.edu" target="_blank">Design Engineering Collaborative<i class="fa fa-external-link"></i></a></h3>
      <p>DEC aims to create a collaborative maker community by connecting people with diverse skills, equipping them with resources, and educating them through workshops.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/dfa.jpg" />
    </div>
      <h3><a href="https://www.facebook.com/dfaberkeley" target="_blank">Design for America<i class="fa fa-external-link"></i></a></h3>
      <p>Design For America teaches human-centered design, collaborating community partners and implements innovative solutions based on insights into human needs, rapid prototyping, and user-testing.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/ewh.jpg" />
    </div>
      <h3><a href="http://ewhberkeley.weebly.com/" target="_blank">Engineering World Health<i class="fa fa-external-link"></i></a></h3>
      <p>We design and build low-cost medical devices, resources, and technologies for underdeveloped or developing nations.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/ewb.jpg" />
    </div>
      <h3><a href="http://ewb.berkeley.edu/" target="_blank">Engineers Without Borders<i class="fa fa-external-link"></i></a></h3>
      <p>We work with two communities in Peru to identify and implement technologies that reduce the level of arsenic in ground water to acceptable levels, or identify alternative drinking water sources.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/ethical.jpg" />
    </div>
      <h3><a href="http://ethicalapparel.org/" target="_blank">EthiCal<i class="fa fa-external-link"></i></a></h3>
      <p>We design and screenprint custom t-shirts and apparel. Our profits are lent to underprivileged entrepreneurs so that they may start their own businesses and achieve a sustainable source of income.</p>
    </div>


    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/fast.jpg" />
    </div>
      <h3><a href="http://fastcal.net/" target="_blank">Fashion and Student Trends<i class="fa fa-external-link"></i></a></h3>
      <p>FAST provides an opportunity for students interested in fashion or the fashion industry to learn from other students and experts in the field. We hold one fashion show a semester, featuring student designers</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/gamecraft.jpg" />
    </div>
      <h3><a href="https://www.facebook.com/groups/cal.gamecraft/" target="_blank">GameCraft<i class="fa fa-external-link"></i></a></h3>
      <p>GameCraft seeks to expose students to the processes and joy of game design, development, and art. We aim to give students the path and resources to create their own game through all disciplines.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/innod.jpg" />
    </div>
      <h3><a href="http://innovativedesign.club" target="_blank">Innovative Design<i class="fa fa-external-link"></i></a></h3>
      <p>Innovative Design is a family of designers, photographers, web developers, and videographers united by the goal of making Berkeley beautiful. And in that process, we grow by collaborating, inspiring, and educating one another.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/pie.jpg" />
    </div>
      <h3><a href="https://pioneers.berkeley.edu/home/" target="_blank">Pioneers in Engineering<i class="fa fa-external-link"></i></a></h3>
      <p>Pioneers in Engineering is a STEM outreach group that seeks to create engaging STEM experiences for East Bay students by providing mentorship to them as well as an exciting robotics competition every spring.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/clubs/robotics.jpg" />
    </div>
      <h3><a href="http://rab.berkeley.edu" target="_blank">Robotics at Berkeley<i class="fa fa-external-link"></i></a></h3>
      <p>Robotics at Berkeley is an undergraduate robotics club that supports student-led projects, organizes robotics-related events, and serves as an informational hub for robotics opportunities on campus.</p>
    </div>

  </div>

</section>

  {% include footer.html %}

</body>
