<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

  {% include scrollnav.html %}

	<div class="hero hero-homepage inverted">
		<div class="mid">
      <h1>Design at Berkeley</h1>
      <span>Filler blurb text design is cool yay!</span>
		</div>

		<div class="arrow-down">
      	<a data-scroll-nav="0"><img src="/media/arrow.png" /></a>
    </div>
	</div>

	<section class="homepage resources inverted" data-scroll-index="0">
		
		<div class="row">
			<div class="large-6 columns">
				<svg width="100%" height="400">
  					<rect width="100%" height="100%" style="fill:rgb(40,193,229);stroke-width:3;stroke:rgb(255,255,255)" />
				</svg>
			</div>
			<div class="large-6 columns">
				<div class="resources-blurb">
					<h2 class="inverted">Learn design</h2>
					<p>
						Design is more than how something looks. It's how it works. Discover the diverse range of design disciplines and how you can apply design thinking to any field of interest.
					</p>
					<a class="button button-inverted-blue">See resources <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
		</div>

	</section>

	<section class="homepage getinvolved">
		
		<div class="row">
			<div class="large-12 columns centered">
				<h2>Get involved on campus</h2>
				<div class="large-8 large-centered columns">
					<p class="subhead">
						Whether you're new to design or an experienced pro, you can always discover more ways to hone your skills.
					</p>
				</div>
			</div>
			<div class="row getinvolved-thirds">
				<div class="large-4 columns centered">
          <a>
  					<svg style="display: block; margin: auto" height="200" width="200">
  					  <circle cx="100" cy="100" r="90" stroke="#f78f1e" stroke-width="3" fill="white" />
  					</svg>
  					<h4>Take Classes</h4>
  					<p>
  						Find classes which expose you to different aspects of design.
  					</p>
          </a>
				</div>
				<div class="large-4 columns centered">
          <a>
  					<svg style="display: block; margin: auto" height="200" width="200">
  					  <circle cx="100" cy="100" r="90" stroke="#f78f1e" stroke-width="3" fill="white" />
  					</svg>
  					<h4>Join Clubs</h4>
  					<p>
  						Meet passionate peers and expand your portfolio through working on projects.
  					</p>
          </a>
				</div>
				<div class="large-4 columns centered">
          <a>
  					<svg style="display: block; margin: auto" height="200" width="200">
  					  <circle cx="100" cy="100" r="90" stroke="#f78f1e" stroke-width="3" fill="white" />
  					</svg>
  					<h4>Come to Council</h4>
  					<p>
  						Become a student leader in design and help make an impact.
  					</p>
          </a>
				</div>
			</div>
			<div class="large-12 columns centered">
				<a class="button button-orange">Find more opportunities <i class="fa fa-arrow-right"></i></a>
			</div>
		</div>

	</section>

	<section class="homepage events inverted">
		<div class="row events-head">
      <div class="large-12 columns centered">
				<h2>Upcoming events</h2>
      </div>
		</div>

		<div class="row">
			<div class="large-3 columns">
				<span class="date">APR 4 @ 7 PM</span>
				<svg width="100%" height="200">
  					<rect width="100%" height="100%" style="fill:rgb(84,185,72);stroke-width:3;stroke:rgb(255,255,255)" />
				</svg>
				<h3>3D Printing Designathon</h3>
				<span class="host">3DMC at Berkeley</span>
			</div>

			<div class="large-3 columns">
				<span class="date">APR 7 @ 5 PM</span>
				<svg width="100%" height="200">
  					<rect width="100%" height="100%" style="fill:rgb(84,185,72);stroke-width:3;stroke:rgb(255,255,255)" />
				</svg>
				<h3>UI/UX Interview Workshop</h3>
				<span class="host">Berkeley Innovation</span>
			</div>

			<div class="large-3 columns">
				<span class="date">APR 18 @ 11 AM</span>
				<svg width="100%" height="200">
  					<rect width="100%" height="100%" style="fill:rgb(84,185,72);stroke-width:3;stroke:rgb(255,255,255)" />
				</svg>
				<h3>Cal Day Panel on Design</h3>
				<span class="host">Jacobs Institute</span>
			</div>

			<div class="large-3 columns">
				<span class="date">May 5 @ 7 PM</span>
				<svg width="100%" height="200">
  					<rect width="100%" height="100%" style="fill:rgb(84,185,72);stroke-width:3;stroke:rgb(255,255,255)" />
				</svg>
				<h3>Design Showcase</h3>
				<span class="host">CITRIS and Design Council</span>
			</div>

		</div>

    <div class="row">
      <div class="large-12 columns centered">
        <a class="button-inverted-green">See more <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
	</section>

	<section class="homepage mailinglist">
		<div class="row">
			<div class="large-12 columns centered">
				<h2>Join our mailing list</h2>
				<p class="subhead">
					Find out about design events and opportunities happening on campus.
				</p>

				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="//designatberkeley.us9.list-manage.com/subscribe/post?u=f1aa10e418bb90483110be7d7&amp;id=4c216c1339" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="aspiringdesigner@example.com" required>
						    <!-- real people should not fill this in & expect good things-do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f1aa10e418bb90483110be7d7_4c216c1339" tabindex="-1" value=""></div>
						    <span class="clear">&nbsp;<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-blue"></span>
					    </div>
					</form>
				</div>			
				<!--End mc_embed_signup-->

			</div>
		</div>
	</section>


  {% include footer.html %}


  </body>
</html>