<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

	<div class="hero inverted">
		<div class="mid">
			<h1>Design is</h1>
			<span class="rotate">the perfect fusion of creativity and logic|a way of thinking, a pursuit, a process|interdisciplinary problem-solving|everywhere, everything|iterating on a problem to find the best solution|a way to enhance people’s lives</span>
		</div>
	</div>

	<div class="nav">
		<p>Design at Berkeley<p>
	</div>

	<div class="section resources inverted">
		<p>Here are resources</p>
	</div>

	<div class="section getinvolved">
		<p>Get involved</p>
	</div>

	<div class="section events inverted">
		<p>All of the events</p>
	</div>

{{content}}



  </body>
</html>