<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

  {% include scrollnav.html %}

	<div class="hero hero-homepage inverted">
	    <div class="hero hero-homepage carousel-1"></div>
		<div class="mid">
			<span class="preheader">The&nbsp;comprehensive, student-curated guide&nbsp;to</span>
      		<h1>Design&nbsp;at&nbsp;Berkeley</h1>
		</div>

    </div>
	</div>

	<section class="homepage resources inverted">
		
		<div class="row">
			<div class="large-6 columns medium-6 columns">
				<img class="img-intro" src="../media/intro.png" />
			</div>
			<div class="large-6 columns medium-6 columns">
				<div class="resources-blurb">
					<h2 class="inverted">Get started</h2>
					<p>
						Design is more than how something looks. It's how it works. Discover the diverse range of design disciplines and how you can apply design thinking to any field of interest.
					</p>
					<a class="button button-inverted-blue" href="/intro">Learn more</a>
				</div>
			</div>
		</div>

	</section>

	<section class="homepage getinvolved">
		
		<div class="row">
			<div class="large-12 columns centered">
				<h2>Get involved on campus</h2>
				<div class="large-8 large-centered columns">
					<p class="subhead">
						Whether you're new to design or an experienced pro,<br /> you can always discover more ways to hone your skills.
					</p>
				</div>
			</div>
			<div class="row getinvolved-thirds">
				<div class="large-12 columns">
					<div class="large-4 columns centered">
	          		<a href="/classes">

		  				<img src="../media/classes.png" />

	  					<h4>Take Classes</h4>
	  					<p>
	  						Find classes to further your design education.
	  					</p>
	          		</a>
					</div>
					<div class="large-4 columns centered">
	          		<a href="clubs">
		  				<img src="../media/clubs.png" />
	  					<h4>Join Clubs</h4>
	  					<p>
	  						Meet passionate peers and expand your portfolio through project.
	  					</p>
	          		</a>
					</div>
					<div class="large-4 columns centered">
	          		<a href="council">
		  				<img src="../media/council.png" />

	  					<h4>Come to Council</h4>
	  					<p>
	  						Become a student leader in design and help make an impact.
	  					</p>
	          		</a>
					</div>
				</div>
			</div>
			<div class="large-12 columns centered">
				<a href="/get-involved" class="button button-orange">Find more opportunities</i></a>
			</div>
		</div>

	</section>

	<section class="homepage events inverted">
		<div class="row events-head">
      <div class="large-12 columns centered">
				<h2>Recent blog posts</h2>
      </div>
		</div>

		<div class="row">

			  {% for post in site.posts limit:4 %}
			    <div class="large-6 columns">
						<span class="date">{{ post.date | date: "%d %B %Y" }}</span><br />
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p>{{ post.excerpt | truncatehtml | truncatewords: 35 }}</p>
						<br />
					</div>
			  {% endfor %}

<!-- 			<div class="large-3 columns">
				<span class="date">APR 4 @ 7 PM</span>
				<svg width="100%" height="200">
  					<rect width="100%" height="100%" style="fill:rgb(84,185,72);stroke-width:3;stroke:rgb(255,255,255)" />
				</svg>
				<h3>3D Printing Designathon</h3>
				<span class="host">3DMC at Berkeley</span>
			</div>

			<div class="large-3 columns">
				<span class="date">APR 7 @ 5 PM</span>
				<svg width="100%" height="200">
  					<rect width="100%" height="100%" style="fill:rgb(84,185,72);stroke-width:3;stroke:rgb(255,255,255)" />
				</svg>
				<h3>UI/UX Interview Workshop</h3>
				<span class="host">Berkeley Innovation</span>
			</div>

			<div class="large-3 columns">
				<span class="date">APR 18 @ 11 AM</span>
				<svg width="100%" height="200">
  					<rect width="100%" height="100%" style="fill:rgb(84,185,72);stroke-width:3;stroke:rgb(255,255,255)" />
				</svg>
				<h3>Cal Day Panel on Design</h3>
				<span class="host">Jacobs Institute</span>
			</div>

			<div class="large-3 columns">
				<span class="date">May 5 @ 7 PM</span>
				<svg width="100%" height="200">
  					<rect width="100%" height="100%" style="fill:rgb(84,185,72);stroke-width:3;stroke:rgb(255,255,255)" />
				</svg>
				<h3>Design Showcase</h3>
				<span class="host">CITRIS and Design Council</span>
			</div> -->

		</div>
	</section>

	<section class="homepage mailinglist">
		<div class="row">
			<div class="large-12 columns centered">
				<h2>Join our mailing list</h2>
				<p class="subhead">
					Find out about design events and opportunities happening on campus.
				</p>

				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="//designatberkeley.us9.list-manage.com/subscribe/post?u=f1aa10e418bb90483110be7d7&amp;id=4c216c1339" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="aspiringdesigner@example.com" required>
						    <!-- real people should not fill this in & expect good things-do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f1aa10e418bb90483110be7d7_4c216c1339" tabindex="-1" value=""></div>
						    <span class="clear">&nbsp;<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-blue"></span>
					    </div>
					</form>
				</div>			
				<!--End mc_embed_signup-->

			</div>
		</div>
	</section>


  {% include footer.html %}


  </body>
</html>