<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

  {% include scrollnav.html %}

  <div class="hero hero-designtoolkit inverted">
    <div class="centered">
      <h1>{{ page.title }}</h1>
      <h3 id="rotate" class="subhead">the perfect fusion of creativity and logic</h3>
    </div>
  </div>

  <section>
    <div class="row post-content">
      <p>
        {{ content }}
      </p>
    </div>
  </section>


  <div class="disciplines">
    <div class="row">
      <div class="large-6 columns whatis blue">
        <h2>Human-centered design</h2>

        <img src="../media/humancentered.png" />
        
        <p>
          Inspiration. Ideation. Iteration. Repeat. Human-centered design is a design process and way of thinking that aids designers across the board who aim to design for the end-user in mind.
        </p>
      </div>

      <div class="large-6 columns whatis yellow">
        <h2>Engineering design</h2>

        <img class="eng" src="../media/engineering.png" />

        <p>
          Inspiration. Ideation. Iteration. Repeat. Human-centered design is a design process and way of thinking that aids designers across the board who aim to design for the end-user in mind.
        </p>
      </div>
    </div>



    <div class="row">
      <div class="large-6 columns whatis orange">
        <h2>Digital product design</h2>

        <img src="../media/digitalproduct.png" />
        
        <p>
          Inspiration. Ideation. Iteration. Repeat. Human-centered design is a design process and way of thinking that aids designers across the board who aim to design for the end-user in mind.
        </p>
      </div>

      <div class="large-6 columns whatis green">
        <h2>Environmental design</h2>

        <img class="env" src="../media/environmental.png" />
        <p>
          Inspiration. Ideation. Iteration. Repeat. Human-centered design is a design process and way of thinking that aids designers across the board who aim to design for the end-user in mind.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns whatis blue">
        <h2>Visual design</h2>

        <img src="../media/visual.png" />
        
        <p>
          Inspiration. Ideation. Iteration. Repeat. Human-centered design is a design process and way of thinking that aids designers across the board who aim to design for the end-user in mind.
        </p>
      </div>

      <div class="large-6 columns whatis yellow">
        <h2>Physical product design</h2>
        <img src="../media/physicalproduct.png" />

        
        <p>
          Inspiration. Ideation. Iteration. Repeat. Human-centered design is a design process and way of thinking that aids designers across the board who aim to design for the end-user in mind.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="large-6 columns whatis orange">
        
        <h2>Computer graphics and animation</h2>
        <img src="../media/visual.png" />
        <p>
          Inspiration. Ideation. Iteration. Repeat. Human-centered design is a design process and way of thinking that aids designers across the board who aim to design for the end-user in mind.
        </p>
      </div>

      <div class="large-6 columns whatis green">

        <h2>Game design</h2>

        <img class="game" src="../media/game.png" />

        
        <p>
          Inspiration. Ideation. Iteration. Repeat. Human-centered design is a design process and way of thinking that aids designers across the board who aim to design for the end-user in mind.
        </p>
      </div>
    </div>
  </div>

  {% include footer.html %}


  </div>

  </body>
</html>