<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

  {% include scrollnav.html %}

  <div class="hero hero-designtoolkit inverted">
    <div class="centered">
      <h1>{{ page.title }}</h1>
      <h3 id="rotate" class="subhead">the perfect fusion of creativity and logic</h3>
    </div>
  </div>

  <section>
    <div class="row post-content">
      <div class="large-12 columns">
        <p>
          {{ content }}
        </p>
      </div>
    </div>
  </section>


  <div class="disciplines">
    <div class="row">
      <div class="large-6 columns whatis blue inverted shorter">
        <h2>Human-centered design</h2>

        <img src="../media/humancentered.png" />
        
        <div class="info">
          <p>
            <span class="altname">Human-centered design</span> is an approach focused on solving the needs and wants of a real world people. The human-centered design process is comprised of user research, prototyping, and evaluation.
          </p>  

          <h3>Tools</h3>
          <ul class="tools">
            <li><a href="http://www.designkit.org/methods">IDEO Design Kit</a></li>
          </ul>
        </div>

      </div>

      <div class="large-6 columns whatis yellow inverted shorter">
        <h2>Engineering design</h2>

        <img class="eng" src="../media/engineering.png" />

        <div class="info">
          <p>
            <span class="altname">Engineering design</span> is the process through which engineers create functional products. Some of its chief concerns are functionality, efficiency, maintainability, availability, and testability.
          </p>

          <h3>Tools</h3>
          <ul class="tools">              
            <li>Mechanical: 3D Printing, Lasercutting, Machining</li>
            <li>Machining: Lathe, Mill, Drill, Bandsaw, CNC</li></li>

          </ul>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="large-6 columns whatis orange inverted">
        <h2>Digital product design</h2>

        <img src="../media/digitalproduct.png" />

        <div class="info">
          <p>
            <span class="altname">Digital product design</span> is an umbrella term for <span class="altname">user interface design</span>, <span class="altname">interaction design</span>, and <span class="altname">visual design</span>. It focuses on making easy-to-use consumer applications, like web and mobile apps.
          </p>

          <h3>Tools</h3>
          <ul class="tools">
            <li>Wireframing: Illustrator, Photoshop, Sketch</li>
            <li>Prototyping: Keynote, Invision, Flinto, Pixate, Origami</li>
            <li>Prototyping (programming): Framer.js, HTML/CSS/JS</li>
          </ul>

        </div>
      </div>

      <div class="large-6 columns whatis green inverted">
        <h2>Environmental design</h2>

        <img class="env" src="../media/environmental.png" />

        <div class="info">
          <p>
            <span class="altname">Environmental design</span> includes <span class="altname">architecture</span>, <span class="altname">urban planning</span>, and <span class="altname">landscape architecture</span>. Each of these fields studies and designs our built environment with respect to social context and aesthetic form.
          </p>

          <h3>Tools</h3>
          <ul class="tools">
            <li>3D modeling: Rhino, SketchUp</li>
            <li>Rendering: V-Ray, Photoshop</li>
            <li>Orthographic projection drawings: AutoCAD</li>
            <li>Parametric programming/design: Grasshopper, Kangaroo</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns whatis blue inverted">
        <h2>Visual design</h2>

        <img src="../media/visual.png" />
        
        <div class="info">
          <p>
            <span class="altname">Visual design</span>, also known as <span class="altname">graphic design</span> or <span class="altname">communication design</span>, is a form of problem-solving, in which ideas and messages are communicated through typography, composition, and image.
          </p>

          <h3>Tools</h3>
          <ul class="tools">
            <li>Illustration &amp; Vectorization: Illustrator, Sketch</li>
            <li>Layout: InDesign</li>
            <li>Motion/Video: AfterEffects</li>
            <li>Photo processing: Photoshop, Lightroom</li>
            <li>Understanding of typography and composition</li>

          </ul>
        </div>
      </div>

      <div class="large-6 columns whatis yellow inverted">
        <h2>Physical product design</h2>
        <img src="../media/physicalproduct.png" />

        <div class="info">
          <p>
            <span class="altname">Physical product design</span>, which is related to but not identical to <span class="altname">industrial design</span>, is the creation of a tangible product intended to be sold to consumers. It is similar to <span class="altname">digital product design</span>.
          </p>

          <h3>Tools</h3>
          <ul class="tools">
            <li>3D modeling</li>
            <li>Solidworks</li>
            <li>Fusion360</li>
            <li>Autodesk Inventor</li>
            <li>Prototyping: 3D printing, Lasercutting</li>
            <li>Machining: Lathe, Mill, Drill, Bandsaw, CNC</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="large-6 columns whatis orange inverted">
        
        <h2>Design in animation and computer graphics</h2>
        <img class="anim" src="../media/animation.png" />

        <div class="info">
          <p>
            Design finds its place in <span class="altname">animation and computer graphics</span> through storytelling and the visual experience that these disciplines provide to the viewer.
          </p>

          <h3>Tools</h3>
          <ul class="tools">
            <li>Animation: Maya</li>
            <li>Programming: C++</li>
            <li>Understanding of story, character, world-building</li>
          </ul>
        </div>
      </div>


      <div class="large-6 columns whatis green inverted">

        <h2>Game design</h2>

        <img class="game" src="../media/game.png" />

        <div class="info">
        <p>
          <span class="altname">Game design</span> is the creation of both physical and virtual games. It designs user interaction as well as aesthetics to create games for a particular purposes such as education, play, and health.
        </p>

        <h3>Tools</h3>
          <ul class="tools">
            <li>Game development: Unity, mobile development</li>
            <li>Visuals: Adobe Creative Suite</li>
            <li>Recommended backgrounds: programming, art</li>
            <li>Understanding of story, character, world-building</li>
          </ul>
      </div>
    </div>
  </div>

  {% include footer.html %}


  </div>

  </body>
</html>