<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

  {% include scrollnav.html %}

  <div class="hero hero-designtoolkit inverted">
    <div class="centered">
      <h1>{{ page.title }}</h1>
      <h3 id="rotate" class="subhead">the perfect fusion of creativity and logic</h3>
    </div>
  </div>

  <section class="whatis humancentered">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/humancentered.png" />
      </div>
      <div class="large-6 columns">
        <h2>Human-centered design</h2>
        
        <p>
          Inspiration. Ideation. Iteration. Repeat. Human-centered design is a design process and way of thinking that aids designers across the board who aim to design for the end-user in mind.
        </p>
      </div>
    </div>
  </section>

  <section class="whatis digitalproduct">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/digitalproduct.png" />

      </div>
      <div class="large-6 columns">
        <h2>Digital product design</h2>
      </div>
    </div>
  </section>

  <section class="whatis environmental">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/environmental.png" />
      </div>
      <div class="large-6 columns">
        <h2>Environmental design</h2>
      </div>
    </div>
  </section>

  <section class="whatis visual">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/visual.png" />
      </div>
      <div class="large-6 columns">
        <h2>Visual design</h2>
      </div>
    </div>
  </section>


  <section class="whatis physicalproduct">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/physicalproduct.png" />
      </div>
      <div class="large-6 columns">
        <h2>Physical product design</h2>
      </div>
    </div>
  </section>

  <section class="whatis fashion">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/fashion.png" />
      </div>
      <div class="large-6 columns">
        <h2>Fashion design</h2>
      </div>
    </div>
  </section>

  {% include footer.html %}



  </body>
</html>