<!DOCTYPE html>
<html>
{% include head.html %}
</html>

<body>

  {% include scrollnav.html %}

<!--   <div class="hero uh-oh inverted">

	<h1>Extruder error</h1>
	<p>Uh oh! Looks like this page doesn't exist.</p>
  </div> -->
  <div class="hero uh-oh inverted">

  </div>
  <section class="page-content uh-oh-content inverted centered">
    <div class="row">
      <div class="large-12 columns">
        <p class="post-content">
        	<h1>{{ page.title }}</h1>
        	<p>Uh oh! Looks like this page doesn't exist.</p><br />
        	<p><img src="/media/404.png" title="uh oh" width="25%" /></p>
        </p>
      </div>
    </div>

  </section>

  {% include footer.html %}

</body>