<!DOCTYPE html>
<html>
{% include head.html %}
</html>

<body>

  {% include scrollnav.html %}


  <div class="hero hero-spaces inverted parallax">
    <div class="centered">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <section>
  <div class="row">
    <div class="large-12 columns">
    </div>
  </div>

  <div class="row page-content">
    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/airport.jpg" />
    </div>
      <h3><a href="http://airportdesign.berkeley.edu/" target="_blank">Airport Design Studio<i class="fa fa-external-link"></i></a></h3>
      <span class="location">McLaughlin Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/bio.jpg" />
    </div>
      <h3><a href="http://qb3.berkeley.edu/qb3/bnc/index.cfm" target="_blank">Biomolecular Nanotechnology Center<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Stanley Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/caldesign.jpg" />
    </div>
      <h3><a href="http://ced.berkeley.edu/research/cal-design-lab/" target="_blank">Cal Design Lab<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Wurster Hall</span>
      <p></p>
    </div>


    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/ceddig.jpg" />
    </div>
      <h3><a href="http://ced.berkeley.edu/resources/digital-fabrication-lab/" target="_blank">CED Digital Fabrication Shop<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Wurster Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/cedfab.jpg" />
    </div>
      <h3><a href="http://ced.berkeley.edu/resources/fabrication-shop/" target="_blank">CED Fabrication Shop<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Wurster Hall</span>
      <p></p>
    </div>


    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/cedstore.jpg" />
    </div>
      <h3><a href="http://ced.berkeley.edu/resources/materials-store" target="_blank">CED Materials Store<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Wurster Hall</span>
      <p></p>
    </div>


    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/citris.jpg" />
    </div>
      <h3><a href="http://invent.citris-uc.org/" target="_blank">CITRIS Invention Lab<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Sutardja Dai Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/davis.jpg" />
    </div>
      <h3>Civil &amp; Environmental Engineering Lab</h3>
      <span class="location">Davis Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/corystudent.jpg" />
    </div>
      <h3><a href="http://supernode.berkeley.edu/index.php?title=Cory_Student_Workshop" target="_blank">Cory Student Machine Shop<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Cory Hall</span>
      <p></p>
    </div>
    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/ilab.jpg" />
    </div>
      <h3>Innovation Lab</h3>
      <span class="location">Memorial Stadium</span>
      <p></p>
    </div>


    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/marvell.jpg" />
      </div>
      <h3><a href="http://nanolab.berkeley.edu/" target="_blank">
    Marvell Nanofabrication Lab<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Sutardja Dai Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/materials.jpg" />
    </div>
      <h3>Materials Lab</h3>
      <span class="location">Hearst Memorial Mining Building</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/meche.jpg" />
    </div>
      <h3><a href="http://www.me.berkeley.edu/new/Shop/enter.html" target="_blank">Mechanical Engineering Student Machine Shop<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Etcheverry Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/rapid.jpg" />
    </div>
      <h3>Rapid Prototyping Lab</h3>
      <span class="location">Hesse Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/shed.jpg" />
    </div>
      <h3>SHED: Student Hub for Engineering and Design</h3>
      <span class="location">Bechtel Bridges Room</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/supernode.jpg" />
    </div>
      <h3><a href="http://supernode.berkeley.edu/index.php?title=Main_Page" target="_blank">Supernode EECS Student Makerspace<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Cory Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/swarm.jpg" />
    </div>
      <h3><a href="http://swarmlab.eecs.berkeley.edu/" target="_blank">Swarm Lab<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Cory Hall</span>
      <p></p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="../media/spaces/ti.jpg" />
    </div>
      <h3><a href="http://www.eecs.berkeley.edu/Cory/TI/" target="_blank">TI Electronics Design Lab<i class="fa fa-external-link"></i></a></h3>
      <span class="location">Cory Hall</span>
      <p></p>
    </div>



  </div>

</section>

  {% include footer.html %}

</body>