<!DOCTYPE html>
<html>
{% include head.html %}
</html>

<body>

  {% include scrollnav.html %}


  <div class="hero hero-teams inverted parallax">
    <div class="centered">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <section>
  <div class="row">
    <div class="large-12 columns">
    </div>
  </div>

  <div class="row page-content">
    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="http://asaeberkeley.weebly.com/uploads/2/8/9/7/28976457/6326356.jpg?762" />
    </div>
      <h3><a href="http://asaeberkeley.weebly.com/" target="_blank">Aero-Design SAE</a></h3>
      <p>Bear Works is an engineering-oriented design team that competes annually in SAE's Aero-Design West Competition. Most of our efforts are geared towards designing, building, and flying our competition planes, but we do plenty of other work on the side, from social events to workshops.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="http://smv.berkeley.edu/img/intro-bg.jpg" />
    </div>
      <h3><a href="http://smv.berkeley.edu/" target="_blank">CalSMV- Super Mileage Vehicle</a></h3>
      <p>CalSMV is an award winning student-run team that participates in competitions such as the Shell Eco-Marathon Americas and SAE Supermileage, where students design and build a car with the purpose of obtaining maximum fuel efficiency.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="https://1ptvjq.bn1302.livefilestore.com/y2mNL2o2MUC3ALkSHlPQtQ2x7i4CMtw_FxOferNJ-dam_rRmsoh1oknE_p3uBNJIoJER1R1jR-QWEDqSDiCoFQH5jD-CmxZCqi5viPihkq1ZnQvKkT9w-KcxbUig8TIqbGcj3lwb30N8LXxrHROp1AdMQ/IMG_6922.JPG?psid=1" style="width:100%, height:auto" />
    </div>
      <h3><a href="http://calsol.berkeley.edu/index.php" target="_blank">CalSol</a></h3>
      <p>The UC Berkeley Solar Vehicle Team is a student-run organization that designs, builds, tests, and races solar vehicles capable of traveling at highway speeds. Hands-on experiences provide students with the opportunity to create complex systems that come together in the production of road-legal solar cars.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="/media/canoe_team.jpg" />
    </div>
      <h3><a href="http://canoe.berkeley.edu/" target="_blank">Concrete Canoe</a></h3>
      <p>Cal Concrete Canoe is a civil engineering competition team that designs, constructs, and races a concrete canoe, providing students a hands-on opportunity to merge engineering principles and design.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="http://www.ce.berkeley.edu/sites/default/files/assets/news/IMG_0353%5B1%5D.JPG" />
    </div>
      <h3><a href="http://www.ce.berkeley.edu/news/798" target="_blank">Construction</a></h3>
      <p>Cal Construction offers an exciting competition environment to get real-life experience as part of a Design-Build team.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="https://scontent-sjc.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11133732_439213529572980_4264521023262448000_n.jpg?oh=572725fe9281e039a58ebd84fee1ede0&oe=559D1D5B" />
    </div>
      <h3><a href="https://www.facebook.com/calenvironmental" target="_blank">Environmental Team</a></h3>
      <p>Cal Enviro is a water treatment competition team that participates in the annual ASCE Mid-Pacific Conference. Every year, we're given a scenario, wastewater recipe, and list of materials to use. From this list, Cal Enviro has to design a filter that can treat the wastewater to reasonable quality.</p>
    </div>


    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="http://hpv.berkeley.edu/assets/banner.jpg" />
    </div>
      <h3><a href="http://hpv.berkeley.edu/" target="_blank">Human Powered Vehicle</a></h3>
      <p>The Human Powered Vehicle Team works to conceptualize and manufacture innovative forms of human powered transportation technology. They build aerodynamic recumbent bicycles.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="http://2013.igem.org/wiki/images/e/e8/Teampicberk.jpg" />
    </div>
      <h3><a href="http://www.synberc.org/igem-uc-berkeley" target="_blank">iGEM Team</a></h3>
      <p>Team members will work with 7-9 other undergraduate students and recent high school graduates to complete a group project in synthetic biology, working with UCSF researchers and graduate students.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
      <img src="http://www.ce.berkeley.edu/sites/default/files/assets/news/Berkeley%20Seismic%20Team_EERI%202015.jpg" />
    </div>
      <h3><a href="https://www.facebook.com/CalSeismicDesign" target="_blank">Seismic Design Team</a></h3>
      <p>The Seismic Design team designs, analyzes, and fabricates a 5ft tall Balsa wood structure to withstand 3 simulated earthquake ground motions. They optimize for structural weight, peak roof acceleration, and peak roof drift.</p>
    </div>

    <div class="card large-4 columns medium-6 columns small-12 columns">
      <div class="img-wrapper">
        <img src="http://www.ce.berkeley.edu/sites/default/files/assets/news/Bridge_BeingJudged_sm.jpg" />
      </div>
      <h3><a href="http://www.ce.berkeley.edu/news/835" target="_blank">Steel Bridge Competition Team</a></h3>
      <p>The Steel Bridge team competes in the ASCE Mid-Pacific Regional Conference steel bridge competition.</p>
    </div>
  </div>

</section>

  {% include footer.html %}

</body>