<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

  {% include nav.html %}


  <section class="whatis humancentered">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/humancentered.png" />
      </div>
      <div class="large-6 columns">
        <h2>Human-centered design</h2>
          
      </div>
    </div>
  </section>

  <section class="whatis digitalproduct">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/digitalproduct.png" />

      </div>
      <div class="large-6 columns">
        <h2>Digital product design</h2>
      </div>
    </div>
  </section>

  <section class="whatis environmental">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/environmental.png" />
      </div>
      <div class="large-6 columns">
        <h2>Environmental design</h2>
      </div>
    </div>
  </section>

  <section class="whatis visual">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/visual.png" />
      </div>
      <div class="large-6 columns">
        <h2>Visual design</h2>
      </div>
    </div>
  </section>


  <section class="whatis physicalproduct">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/physicalproduct.png" />
      </div>
      <div class="large-6 columns">
        <h2>Physical product design</h2>
      </div>
    </div>
  </section>

  <section class="whatis fashion">
    <div class="row">
      <div class="large-6 columns">
        <img src="../media/fashion.png" />
      </div>
      <div class="large-6 columns">
        <h2>Fashion design</h2>
      </div>
    </div>
  </section>

  <footer class="inverted">
    <div class="row">
      <div class="large-5 columns">
        <h3>Brought to you by UC Berkeley's <img src="/media/logo.png" style="filter: invert(100%); -webkit-filter: invert(100%); width:30%; height:30%;" /></h3>
        <p>
          We are a group of UC Berkeley students passionate about promoting design education, culture, and awareness on campus. We meet every Friday from 3pm to 4pm in 360 Hearst Mining Memorial Building.
        </p>
      </div>
      <div class="large-5 columns">
        <h3>Social Media</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </div>
    </div>
  </footer>



  </body>
</html>